body {
    font-family: "helvetica", sans-serif;
  }

video{
    width: 640px;
    height: 480px;
}

#title{
    font-weight: bold;
}

.viewer{
    display: inline-block
}

.orig{
    font-style: italic;
}

.trans{
    font-style: normal;
}

