<!doctype html>
<html>
    <head>
        <title>Rosetta | Working Together to Change Lives</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div id="title">Rosetta Project</div>
        <br>
        <div id="author">Ramana Murugesan, Kyle Pinto, Chung Yu, Snehit Khair</div>
        <br>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <select name="input">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
                <option value="ja">Japanese</option>
                <option value="hi">Hindi</option>
                <option value="zh">Mandarin</option>
            </select>
            <select name="output">
                <option value="en">English</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
                <option value="ja">Japanese</option>
                <option value="hi">Hindi</option>
                <option value="zh">Mandarin</option>
            </select>
            <input type="submit" value=Upload>
        </form>
    </body>
</html>

